html {
    height: 100%;
    font-family: banner;
    font-weight: 575;
}

body {
    /* background-image: url("assets/images/camo.jpg"); */
    /* margin: 3% 0; */
    margin: 0;
    /* height: 100%; */
}

p {
    background-color: rgb(102, 138, 97);
}

/* FONT */

@font-face {
    font-family: banner;
    src: url(assets/font/NewTegomin-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(assets/font/Roboto-Black.ttf)
}

/* BANNER */

.topBanner {
    height: 250px;
}

.topBanner .hero-image {
    background-image: url("assets/images/backgrounds/corn-field.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    /* margin-left: 20%;
    margin-right: 20%; */
    /* margin: 0 20%; */
    border: 2px solid black;
    /* box-shadow: 0px -10px 15px 0px rgb(201, 192, 192); */
}

.topBanner .hero-text {
    font-family: banner;
    font-size: xx-large;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BUTTONS */

.buttons {

    margin-left: 15%;
    padding: 0px;

    a {
        float: left;
        border: 1px solid black;
        width: 20%;
        font-size: 20px;
        font-family: banner;
        background-color: rgb(102, 138, 97);
        cursor: pointer;
        transition-duration: .2s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    a:hover {
        background-color: rgb(49, 66, 46)
    }
}

/* ORGANIZATION */

.homepageText {
    background-image: url("assets/images/backgrounds/woodgrain.png");
    border: 2px solid black;
    background-size: contain;
    background-repeat: repeat;
    border-top-style: none;
}

.pageGrid {
    display: grid;
    grid-template-columns: 1fr minmax(800px, 60%) 1fr;
    min-height: 100vh;
}

.leftBG {
    background-image: url("assets/images//backgrounds/left.png");
    background-size: cover; 
    background-position:left;
    background-repeat: repeat;
}
/* contain and repeat might mess things up eventually ??? */
.rightBG {
    background-image: url("assets/images/backgrounds/right.png");
    background-size: cover;
    background-position: right;
    background-repeat: repeat;
}

/* BLOG */

.post {
    height: 100%;
    border: 2px solid black;
    margin: 3%;
    padding: 1%;
    padding-top: 0;
    background-color: rgb(102, 138, 97);
    border-radius: 6px;
}

.post h1, h3, h4 {
    text-align: center;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.post h1 {
    line-height: 30px;
}

.post h3 {
    line-height: 20px;
}

.post h4 {
    line-height: 17px;
}

.post img {
    width: 100%;
    padding: 0%;
    border: 2px solid black;
    border-radius: 6px;
    align-items: center;
}

.post .imgLeft {
    /* margin: 10px; */
    display: grid;
    align-items: center; 
    grid-template-columns: 30% 70%;
    column-gap: 10px;
    /* padding: 0%; */
}

.post .imgRight {
    /* margin: 1%; */
    display: grid;
    align-items: center; 
    grid-template-columns: 70% 30%;
    column-gap: 10px;
    /* padding: 0%; */
}

.post1 .notebook {
    width: 95%;
}

/* FOOTER */

footer {
    background-image: url("assets/images/backgrounds/footer.png");
    background-size: cover;
    position: relative;
    background-repeat: repeat;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0%;
    grid-column: 1 / -1;
}

footer p {
    background-color: rgb(102, 138, 97);
    margin: 5% 20%;
    border: 2px solid black;
    border-radius: 6px;
}