html {
    height: 100%;
}


body {
    /* background-color: rgb(24, 117, 154); */
    /* margin-top: 3%;
    margin-bottom: 3%; */
    font-family: banner;
    margin: 0;
}   

p {
    background-color: rgb(102, 138, 97);
}

img {
    border: 2px solid black;
    border-radius: 6px;
}

/* FONT */

@font-face {
    font-family: banner;
    src: url(assets/font/NewTegomin-Regular.ttf);
}

/* BANNER */

.topBanner {
    height: 250px;
}

.topBanner .hero-image {
    background-image: url("assets/images/backgrounds/corn-field.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    /* margin-left: 20%;
    margin-right: 20%; */
    /* margin: 0 20%; */
    border: 2px solid black;
    /* box-shadow: 0px -10px 15px 0px rgb(201, 192, 192); */
}

.topBanner .hero-text {
    font-family: banner;
    font-size: xx-large;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BUTTONS */

.buttons {

    padding: 0px;
    display: flex;
    justify-content: center;
    gap: 0px;

    a {
        
        border: 1px solid black;
        width: 20%;
        font-size: 20px;
        font-family: banner;
        background-color: rgb(102, 138, 97);
        cursor: pointer;
        transition-duration: .2s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    a:hover {
        background-color: rgb(49, 66, 46)
        
    }
}

/* ORGANIZATION */

/*
.homepageText {
    background-image: url("assets/images/backgrounds/woodgrain.png");
    border: 2px solid black;
    background-size: contain;
    background-repeat: repeat;
    border-top-style: none;
}
*/

.homepageText {
    /* background-color: rgb(88, 179, 210); /* inner background */
    background-image: url("assets/images/backgrounds/woodgrain.png");
    border: 2px solid black;
    background-size: contain;
    background-repeat: repeat;
    border-top-style: none;
    /* margin-left: 20%;
    margin-right: 20%; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    padding: 20px;
    padding-top: 0px;
    /* box-shadow: 0px 0px 15px 10px rgb(201, 192, 192); */
}

.pageGrid {
    display: grid;
    grid-template-columns: 1fr minmax(800px, 60%) 1fr;
    min-height: 100vh;
}

.leftBG {
    background-image: url("assets/images//backgrounds/left.png");
    background-size: cover;
    background-position:left;
}

.rightBG {
    background-image: url("assets/images/backgrounds/right.png");
    background-size:cover;
    background-position: right;
}

/* GALLERY */

.imgGrid {
    margin: 5%;
    display: grid;
    align-items: center; 
    grid-template-columns:  repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 0%;
}

.container {
    width: 100%;
    position: relative;
    
  
}

.container img {
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 5px;

    background-color: rgba(102, 138, 97, 0.7);
    padding: 8px 14px;
    
    width: 91.25%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    white-space: normal; 
    color: white;
    font-size: 20px;
    text-align: center;
    
} 

/* FOOTER */

footer {
    background-image: url("assets/images/backgrounds/footer.png");
    background-size: cover;
    position: relative;
    background-repeat: repeat;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0%;
    grid-column: 1 / -1;
}

footer p {
    background-color: transparent;
}




