
body, html {
    height: 100%;
}


body {
    /* background-color: rgb(24, 117, 154); */
    background-image: url("website_background.png");
}

.homepageText {
    background-color: rgb(88, 179, 210); /* inner background */
    border: 2px solid black;
    border-top-style: none;
    margin-left: 20%;
    margin-right: 20%;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    padding: 20px;
    padding-top: 0px;
    box-shadow: 0px 0px 20px 10px rgb(201, 192, 192);
}

.buttons {

    margin-left: 15%;
    padding: 0px;
    

    button {
        float: left;
        border: 1px solid black;
        width: 20%;
        font-size: 20px;
        font-family: banner;
        background-color: transparent;
        cursor: pointer;
        transition-duration: 0.4ss;
    }

    button:hover {
        background-color: gray;

    }
}

@font-face {
    font-family: banner;
    src: url(NewTegomin-Regular.ttf);
}

.hero-image {
        background-image: url("corn-field.jpg");
        height: 30%;
        background-position: center;
        background-size: cover;
        position: relative;
        margin-left: 20%;
        margin-right: 20%;
        border: 2px solid black;
        border-bottom-style: none;
        box-shadow: 0px 0px 0px 0px rgb(201, 192, 192);
    }

    .hero-text {
        font-family: banner;
        font-size: xx-large;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .bio {
        display: grid;
        align-items: center; 
        grid-template-columns: 20% 80%;
        column-gap: 5px;
        padding: 5%;
    }

    .bio img {
        height: auto;
        width: 100%;
        border: 2px solid black;
    }

    .bioText p {
        font-family: banner;
        border: 2px solid black;
        width: 100%;
    }