@font-face {
    font-family: banner;
    src: url(assets/font/NewTegomin-Regular.ttf);
}

html {
    height: 100%;
    font-family: banner;
}


body {
    background-image: url("assets/images/camo.jpg");
    /* margin: 3% 0; */
    margin: 0;
    /* height: 100%; */
}

p {
    background-color: rgb(102, 138, 97);
}

.homepageText {
    background-image: url("assets/images/woodgrain.png");
    border: 2px solid black;
    background-size: contain;
    background-repeat: repeat;
    border-top-style: none;
    /* margin: 0 20%; */
    /* padding: 20px;
    padding-top: 0px; */
    /* box-shadow: 0px 0px 15px 10px rgb(201, 192, 192); */
}

.buttons {

    margin-left: 15%;
    padding: 0px;

    a {
        float: left;
        border: 1px solid black;
        width: 20%;
        font-size: 20px;
        font-family: banner;
        background-color: rgb(102, 138, 97);
        cursor: pointer;
        transition-duration: .2s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    a:hover {
        background-color: rgb(49, 66, 46)
        
    }
}

.topBanner {
    height: 250px;
}
.topBanner .hero-image {
    background-image: url("assets/images/corn-field.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    /* margin-left: 20%;
    margin-right: 20%; */
    /* margin: 0 20%; */
    border: 2px solid black;
    /* box-shadow: 0px -10px 15px 0px rgb(201, 192, 192); */
}

.topBanner .hero-text {
    font-family: banner;
    font-size: xx-large;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bio {
    margin: 1%;
    display: grid;
    align-items: center; 
    grid-template-columns: 20% 80%;
    column-gap: 5px;
    padding: 3%;
}

.bio img {
    height: auto;
    width: 100%;
    border: 2px solid black;
}

.bioText p {
    font-family: banner;
    border: 2px solid black;
    width: 100%;
    padding: 1%;
}

.post {
    height: 100%;
    border: 2px solid black;
    margin: 3%;
    padding: 0;
    background-color: rgb(102, 138, 97);
}

.post h1, h3 {
    text-align: center;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.post img {
    width: 100%;
    padding: 0%;
    border: 2px solid black;
}

.post .imgLeft {
    margin: 10px;
    display: grid;
    align-items: center; 
    grid-template-columns: 30% 70%;
    column-gap: 5px;
    padding: 0%;
}

.post .imgRight {
    margin: 1%;
    display: grid;
    align-items: center; 
    grid-template-columns: 70% 30%;
    column-gap: 5px;
    padding: 0%;
}

footer {
    background-image: url("assets/images/test4.png");
    background-size: cover;
    position: relative;
    background-repeat: repeat;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0%;
    grid-column: 1 / -1;
}

footer p {
    background-color: transparent;
}

.pageGrid {
    display: grid;
    grid-template-columns: 1fr minmax(800px, 60%) 1fr;
    min-height: 100vh;
}

.leftBG {
    background-image: url("assets/images/left.png");
    background-size: cover;
    background-position:left;
}

.rightBG {
    background-image: url("assets/images/right.png");
    background-size:cover;
    background-position: right;
}

.pageContent {
    /* margin: 3% 0; */
    font-family: banner;
    /* box-shadow: 0px 0px 15px 10px rgb(201, 192, 192); */
    /* padding: 3% 0; */
}
